body {
    font-family: Roboto;
    font-size: 17px;
    background-color: white;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar-default {
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    margin: 0px;
    padding: 12px 33px;
}

.navbar-toggler {
    background-color: grey !important;
}

.navbar .navbar-nav li a {
    color: black !important;
}

.container1 {
    background-image: url(../iphone/iPhoneMotherDaughter.png);
    background-repeat: no-repeat;
}

.container1 .backcground-image {
    position: absolute;
}

.flued {
    margin-left: 25px;
}

.container1 .video-text1 {
    margin-left: 60px;
}


/* 
.balanceImage {
    width: 170px;
    position: absolute;
}

.playNew {
    position: absolute;
    margin-left: 45px;
    margin-top: 15px;
    width: 17%;
} */

.headline1 {
    font: normal normal 300 62px/83px Roboto;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0px;
    color: #626262;
    opacity: 1;
    font-weight: bold;
}

.headline2 {
    margin-top: 10px;
    text-align: left;
    letter-spacing: 0px;
    color: #EA983E;
    opacity: 1;
    font-weight: bold;
    font: normal normal normal 34px/45px Roboto;
}

.balance {
    font: normal normal 300 30px/39px Roboto;
    letter-spacing: 0px;
    color: #969696;
    opacity: 1;
    margin-top: 65px;
}

.shade {
    height: 29px;
    z-index: 10000;
    transform: matrix(-1, 0, 0, -1, 0, 0);
    background: transparent linear-gradient(90deg, var(--unnamed-color-ffffff) 0%, var(--unnamed-color-ffffff) 22%, #EA983E 100%) 0% 0% no-repeat padding-box;
    background: transparent linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 22%, #EA983E 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

#two {
    margin-left: 30px;
}

.researchers {
    font: normal normal 300 37px/50px Roboto;
    letter-spacing: 0px;
    color: #EA9A41;
    opacity: 1;
    padding-bottom: 10px;
}

.exploring {
    padding: 0px 20px 0px 0px;
    font: normal normal 300 23px/33px Roboto;
    letter-spacing: 0px;
    color: #838383;
}

.findAD {
    border: 2px solid var(--unnamed-color-ffffff);
    background: #F79425 0% 0% no-repeat padding-box;
    border: 2px solid #FFFFFF;
    opacity: 1;
    padding: 16px;
    color: white;
    margin: 38px 0;
    font-size: 20px;
}

.major {
    text-align: center;
    font: normal normal 300 52px/68px Roboto;
    letter-spacing: 0px;
    color: #5DACE3;
    opacity: 1;
}

#three {
    background: #F0F0F0 0% 0% no-repeat padding-box;
    opacity: 1
}

.container3-left {
    text-align: center;
}

.slideContainer {
    margin-left: 37px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 50px #00000029;
    opacity: 1;
    text-align: center;
    width: 300px;
    padding: 40px 25px;
}


/* 
.testi-academy {
    width: 150px;
    margin-left: 135px;
}

.testi-image-alz {
    padding-top: 3px;
    width: 200px;
    margin-left: 110px;
}

.testi-image-who {
    width: 159px;
    margin-left: 138px;
}

.testi-ada {
    width: 334px;
    margin-left: 35px;
}

.testi-cda {
    padding-top: 6px;
    width: 290px;
    margin-left: 80px;
} 

.carousel-control-prev {
    margin-left: -70px;
    color: blue;
}

.carousel-control-next {
    margin-right: -70px;
    color: blue;
}

.carousel-indicators {
    margin-bottom: -73px;
}
*/

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    color: blue;
}

.findAD2 {
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 30px;
    text-decoration: underline;
    font: normal normal medium 24px/32px Roboto;
    letter-spacing: 0px;
    color: #F79425;
    text-transform: uppercase;
    opacity: 1;
    border: none;
    font-size: 20px;
}

#four {
    margin-left: 40px;
}

.hearing {
    font: normal normal 300 58px/60px Roboto;
    letter-spacing: 0px;
    color: #5DACE3;
}

.urAD {
    margin-top: 20px;
    padding: 0px 10px 0px 0px;
    font: normal normal normal 18px/23px Roboto;
    letter-spacing: 0px;
    color: #6C6C6C;
}

#four .video-text,
.balance {
    margin-left: 60px;
}

#five {
    background-color: cornflowerblue;
}

.container5 {
    margin-left: 50px;
}

.sub5 {
    font-size: 30px;
}

.hearingLoss {
    color: var(--unnamed-color-ffffff);
    text-align: left;
    font: normal normal 300 46px/65px Roboto;
    /* font: normal normal 300 60px/70px Roboto; */
    letter-spacing: 0px;
    color: rgb(110, 96, 124);
    color: #ffffff
}

.youAudio {
    font: normal normal 300 22px/34px Roboto;
    /* font: normal normal 300 32px/50px Roboto; */
    color: #ffffff;
    margin: 30px 0;
}

.btn5 {
    font-family: Roboto;
    color: #FFFFFF;
    opacity: 1;
    background: transparent;
    border: 1px solid #ffffff;
    padding: 14px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 30px;
}

.container6 .backcground-image {
    position: absolute;
}

.container6 {
    text-align: center;
    background-image: url(../iphone/cognivue_Map.png);
    background-repeat: no-repeat;
    /*     background-size: 100% 100%;
 */
}

.headLines6 {
    position: relative;
    background: #F79425D9 0% 0% no-repeat padding-box;
    opacity: 1;
}

.remember {
    font: normal normal normal 54px/81px SignPainter;
}

.btn6 {
    border: 2px solid var(--unnamed-color-ffffff);
    border: 2px solid #FFFFFF;
    opacity: 1;
    background: transparent;
    color: white;
    padding: 10px 29px;
    font-size: 11px;
    margin-bottom: 30px;
}

.container7 {
    text-align: center;
}

.container7-left {
    margin: 30px 0px;
}

.how {
    margin-top: 30px;
    font: normal normal 300 37px/52px Roboto;
    letter-spacing: 0px;
    color: #F79425;
    text-transform: uppercase;
    opacity: 1;
}

.btn7 {
    background: #F79425 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F79425;
    opacity: 1;
    margin-top: 26px;
    width: 70%;
}

.logo7 {
    width: 200px;
}

.container8 {
    text-align: center;
    padding: 10px 20px;
}

.container8 .logo {
    display: block;
    width: 100%;
    height: 69px;
    background: url(../iphone/Asset3.png) center no-repeat;
}

.align-center {
    text-align: center;
}

.footer__container {
    /*     padding: 20px 0;
 */
}

.row {
    margin: 0 auto;
    max-width: 1328px;
    padding: 0 20px;
    width: 100%;
}

.footer__logo {
    margin: 0 auto;
}

.container8 nav {
    margin: 0 auto;
}

.footer__list {
    list-style: none;
    margin: 20px 0 0 0;
}

.footer__list li {
    font-size: 14px;
    display: inline-block;
    position: relative;
    margin: 0 11px;
}

.footer__list li:not(:first-child):before {
    content: "";
    position: absolute;
    left: -11px;
    top: 1px;
    height: 15px;
    width: 1px;
    background: #333;
}

.nav--social {
    margin: 20px 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
}

.nav--social li {
    margin: 0 9px;
    border-radius: 50%;
}

nav li {
    display: inline-block;
}

.bg--gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#31c4f2), to(#1673b8));
    background: linear-gradient(#31c4f2, #1673b8);
    padding: 2px;
}

.hidden,
.seoOnly {
    display: none!important;
}

.icon-youtube:before {
    content: "\e904";
}

.footer__fda {
    background: url(../images/logo-fda.png);
    width: 61px;
    height: 37px;
    display: block;
}

.nav--social a {
    font-size: 22px;
    width: 36px;
    height: 34px;
    color: #1673b8;
    padding: 2px 0 0;
    border-radius: 50%;
    background: #fff;
}

.nav--social a:hover {
    color: #1673b8;
}

nav a {
    display: block;
}

.accordion--classic__title:after,
.accordion__trigger:before,
.btn:after,
.menu-item-has-children>a:after,
.sub-menu a:after,
[class*=" icon-"],
[class^=icon-] {
    font-family: "icons"!important;
    /*     speak: none;
 */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* for search container or second page*/

#findan-Aud {
    text-align: center;
}

.container-search .backcground-image {
    position: absolute;
}

.container-search {
    background-image: url(../iphone/cognivue_Map.png);
    background-repeat: no-repeat;
    position: relative;
}

.text-block {
    top: 0px;
    /* position: absolute; */
    background: #D57E1DD9 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 100%;
}

.head {
    /*     margin-top: 100px;
 */
    color: var(--unnamed-color-ffffff);
    font: normal normal normal 25px/52px SignPainter;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    font-family: "SignPainter";
}

.name-container {
    margin-bottom: 15px;
}

.email-container,
.zip-container {
    margin-bottom: 15px;
}

.name {
    width: 250px;
    height: 49px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    font: normal normal normal 20px/20px Arial;
    padding-left: 15px;
    color: #CBCBCB;
}

.email {
    width: 250px;
    height: 49px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    font: normal normal normal 20px/20px Arial;
    padding-left: 15px;
    color: #CBCBCB;
}

.zip {
    width: 250px;
    height: 49px;
    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    font: normal normal normal 20px/20px Arial;
    padding-left: 15px;
    color: #CBCBCB;
}

.searchBTN {
    margin-bottom: 30px;
    width: 250px;
    height: 49px;
    color: white;
    background: #D57E1DD9 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-ffffff);
    border: 2px solid #FFFFFF;
    opacity: 1;
}

.search-button {
    margin-top: 40px;
    text-align: center;
}